
.flexCentre
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexBetween
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.margFiltre
{
	margin-top: 50px;
	margin-bottom: 40px;
}

.filtre
{
	display: flex;
	align-items: center;
}
.margFiltreTitre
{
	margin-right: 20px;
}
.filtreTexteIcons
{
	border: 2px solid #F2F2F2;
	height: 50px;
	border-radius: 30px;
	margin-right: 20px;
}
.filtreIcons
{
	border-radius: 25px;
	width: 52px;
	height:52px;
	color: #0065FC;
	background-color: #DEEBFF;
}